/* Note: The background pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background:#ffc600;
}

.photobooth {
  background-image: url('memphis-colorful.png');
  background-repeat: repeat;
  max-width:150rem;
  margin: 2rem auto;
  border-radius:2px;
}

button.picButton {
  background: #ADD8E6;
  color: white;
  font-size: 20px;
  margin: 1rem;
  padding: 5px 10px;
  border-radius: 5px; 
}

.controls {
  padding: 2rem;
}


.controls p {
  padding: 1em;
  margin: 0;
  font-size: 16px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  background: white;
  width:100%;
  float:right;
}

.player {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}

/*
  Strip!
*/

.strip {
  padding:2rem;
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

/*
  rotate pictures as they are added to picture strip. Why? because it's ZANY! WHOA!
*/ 
.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }


/*
  Update styles of input range slider (track and thumb)
*/

input[type=range] {
  height: 29px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 25%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 25%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071A9;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #000000;
  border: 0px solid #090A01;
  height: 22px;
  width: 19px;
  border-radius: 9px;
  background: #FFD429;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 25%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071A9;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #000000;
  border: 0px solid #090A01;
  height: 22px;
  width: 19px;
  border-radius: 9px;
  background: #FFD429;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 25%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #000000;
  border: 0px solid #090A01;
  height: 22px;
  width: 19px;
  border-radius: 9px;
  background: #FFD429;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}